<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Projects</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="adminlte/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="adminlte/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="/css/category.css">
</head>

<body class="hold-transition sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">

          <h3 class="header-title">Đơn hàng</h3>

          <div class="d-flex">
            <form action="/cart-list" method="GET">
              <select class="filter-cart" name="status" style="width: 300px;">
                <%if(match.status){%>
                   <%if(match.status == 0){%>
                    <option value="0" selected>Chờ xử lý</option>
                    <option value="1">Đang xử lý</option>
                    <option value="2">Hoàn thành</option>
                    <option value="3">Huỷ đơn</option>
                    <%} if(match.status == 1){%> 
                      <option value="0" >Chờ xử lý</option>
                      <option value="1"selected>Đang xử lý</option>
                      <option value="2">Hoàn thành</option>
                      <option value="3">Huỷ đơn</option>
                    <%} if(match.status == 2){%> 
                      <option value="0" >Chờ xử lý</option>
                      <option value="1">Đang xử lý</option>
                      <option value="2"selected>Hoàn thành</option>
                      <option value="3">Huỷ đơn</option>
                    <%} if(match.status == 3){%> 
                      <option value="0" >Chờ xử lý</option>
                      <option value="1">Đang xử lý</option>
                      <option value="2">Hoàn thành</option>
                      <option value="3" selected>Huỷ đơn</option>
                  <%}}else{%>
                <option value="" disabled selected>Trạng thái</option>
                <option value="0">Chờ xử lý</option>
                <option value="1">Đang xử lý</option>
                <option value="2">Hoàn thành</option>
                <option value="3">Huỷ đơn</option>
                    <%}%>

              </select>
              <button class="btn btn-secondary ml-2">Bộ lọc</button>
            </form>
            <%if(match.status){%>
              <form action="/cart-list" method="GET">
                <button class="btn btn-danger ml-2">Bỏ lọc</button>
              </form>
              <%}%>
                <div class="dropdown d-inline">
                  <button class="btn btn-success dropdown-toggle mx-2 " type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sắp xếp
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form action="/cart-list" method="GET">
                      <input name="status" type="hidden" value="<%=match.status%>">
                      <button name="sort" value="0" class="dropdown-item">Mới nhất</button>
                      <button name="sort" value="1" class="dropdown-item">Cũ nhất</button>
                    </form>
                  </div>
                </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">

        <!-- Default box -->
        <div class="card" style="height: 60vh;">

          <div class="card-body p-0">
            <table class="table table-striped projects">
              <thead>
                <tr>

                  <th>
                    Khách hàng
                  </th>

                  <th>
                    Chi tiết đơn hàng
                  </th>
                  <th>
                    Tổng giá (VND)
                  </th>
                  <th>
                    Tạo/cập nhật
                  </th>
                  <th>
                    Ghi chú
                  </th>
                  <th class="text-center">
                    Trạng thái
                  </th>
                  <th style="width: 20%">
                    Hành động
                  </th>
                </tr>
              </thead>
              <tbody class="content-tbody">
                <%for(order of orders){%>
                  <tr>
                    <td>
                      <button type="button" data-toggle="modal" data-target="#order-<%=order._id%>"
                        class="btn btn-primary">Chi
                        tiết</button>

                      <!-- Modal -->
                      <div class="modal fade " id="order-<%=order._id%>" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" style="max-width: 800px">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Chi tiết khách hàng</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body ">
                              <table class="table table-striped projects">
                                <thead>
                                  <tr>
                                    <th>
                                      Tên
                                    </th>

                                    <th>
                                      Điện thoại
                                    </th>
                                    <th>
                                      Email
                                    </th>
                                    <th>
                                      Địa chỉ
                                    </th>
                                  </tr>
                                </thead>
                                <tbody class="content-tbody">

                                  <tr>
                                    <td>
                                      <%=order.customerId.name%>
                                    </td>
                                    <td>
                                      <%=order.customerId.phone%>
                                    </td>
                                    <td>
                                      <%=order.customerId.email%>
                                    </td>
                                    <td>
                                      <%=order.customerId.address%>
                                    </td>

                                  </tr>

                                </tbody>

                              </table>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            </div>
                          </div>
                        </div>
                      </div>

                    </td>
                    <td>

                      <button type="button" data-toggle="modal" data-target="#orderDetail-<%=order._id%>"
                        class="btn btn-primary">Chi
                        tiết</button>

                      <!-- Modal -->
                      <div class="modal fade " id="orderDetail-<%=order._id%>" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" style="max-width: 800px">
                          <div class="modal-content " style="height: 100vh;">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Chi tiết đơn hàng</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body ">
                              <table class="table table-striped projects">
                                <thead>
                                  <tr>
                                    <th>
                                      Ảnh
                                    </th>
                                    <th>
                                      Tên sản phẩm
                                    </th>
                                    <th>
                                      Màu sắc
                                    </th>
                                    <th>
                                      Kích thước
                                    </th>
                                    <th>
                                      Số lượng
                                    </th>
                                    <th>
                                      Giá/ 1sản phẩm
                                    </th>

                                  </tr>
                                </thead>
                                <tbody class="content-tbody">
                                  <%for(orderDetailId of order.orderDetailIds){%>
                                    <tr>
                                      <td>
                                        <img src="<%=orderDetailId.productDetailId.pictures[0]%>" alt=""
                                          style="width: 80px;padding: 5px;border: 1px solid rgb(207, 205, 205);">
                                      </td>
                                      <td>
                                        <%=orderDetailId.productName%>
                                      </td>
                                      <td>
                                        <%for(color of colors){%>
                                          <%if(orderDetailId.productDetailId.colorId==color._id){%>
                                            <%=color.name%>
                                              <%}}%>
                                      </td>
                                      <td>
                                        <%=orderDetailId.size%>
                                      </td>
                                      <td>
                                        <%=orderDetailId.amount%>
                                      </td>

                                      <td>
                                        <%=numeral(orderDetailId.unitPrice).format('0,0')%>đ

                                      </td>

                                    </tr>
                                    <%}%>
                                </tbody>

                              </table>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>

                    <td>

                      <%=numeral(order.totalPrice).format('0,0')%>đ
                    </td>
                    <td>
                      <a>
                        <%=dayjs(order.createdAt).format('DD-MM-YYYY HH:mm')%>
                      </a>
                      <br />
                      <small style="color: gray;">
                        <%=dayjs(order.updatedAt).format('DD-MM-YYYY HH:mm') %>
                      </small>
                    </td>
                    <td style="width: 150px;">
                      <%=order.note%>
                    </td>
                    <td class="project-state">
                      <%if(order.status==0){%>
                        <span class="badge badge-secondary">Chờ xử lý</span>
                        <%}if(order.status==1){%>
                          <span class="badge badge-info">Đang xử lý</span>
                          <%}if(order.status==2){%>
                            <span class="badge badge-success">Hoàn thành</span>
                            <%}if(order.status==3){%>
                              <span class="badge badge-danger">Huỷ đơn</span>
                              <%}%>
                    </td>
                    <td class="project-actions ">
                      <input type="hidden" value="<%=order._id%>">
                      <%let i=0%>
                        <%for(const data of order.orderDetailIds){%>
                          <%i++%>
                            <input name="data<%=i%>" type="hidden" value="<%=data.productDetailId._id%>">
                            <input name="data<%=i%>" type="hidden" value="<%=data.size%>">
                            <input name="data<%=i%>" type="hidden" value="<%=data.amount%>">
                            <%}%>
                              <input name="number" type="hidden" value="<%=i%>">
                              <%if(order.status !=2 && order.status !=3 ){%>
                                <a type="button" class="processing-btn btn btn-info btn-sm">
                                  <i class="fas fa-ellipsis-h"></i>
                                  </i>
                                </a>

                                <a type="button" class="completed-btn btn btn-success btn-sm">
                                  <i class="fas fa-check"></i>
                                  </i>
                                </a>
                                <a type="button" class="canceled-btn btn btn-danger btn-sm">
                                  <i class="fas fa-trash">
                                  </i>
                                </a>
                                <%}%>
                    </td>
                  </tr>
                  <%}%>
              </tbody>
            </table>

          </div>
        </div>
        <!-- /.card-body -->
        <!-- pagination -->
        <div class="row">

          <!-- hiển thị phân trang nếu có trang -->
          <% if(pages> 0) { %>
            <div class="w-100 d-flex justify-content-between mx-5">
              <p class="mt-2"> </p>
              <ul class="pagination">

                <!-- FIRST ITEM -->
                <% if(current==1) { %>

                  <li class="page-item disabled">
                    <a class="page-link" href="/">First</a>
                  </li>
                  <% } else { %>

                    <li class="page-item">
                      <form action="/cart-list" method="GET">
                        <input name="status" type="hidden" value="<%=match.status%>">
                        <input name="sort" type="hidden" value="<%=match.sort%>">
                        <button name="page" value="<%= i %>" class="page-link">First</button>
                      </form>
                    </li>
                    <% } %>

                      <!-- ITEMS  -->
                      <% var i=(Number(current)> 3 ? Number(current) - 2 : 1) %>

                        <% if(i !==1) { %>
                          <li class="page-item disabled">
                            <a class="page-link" href="#">...</a>
                          </li>
                          <% } %>
                            <% for(; i <=(Number(current) + 2) && i <=pages; i++) { %>
                              <% if(i==current) { %>
                                <li class="page-item active">
                                  <form action="/cart-list" method="GET">
                                    <input name="status" type="hidden" value="<%=match.status%>">
                                    <input name="sort" type="hidden" value="<%=match.sort%>">
                                    <button name="page" value="<%= i %>" class="page-link">
                                      <%= i %>
                                    </button>
                                  </form>
                                </li>
                                <% } else { %>
                                  <li class="page-item">
                                    <form action="/cart-list" method="GET">
                                      <input name="status" type="hidden" value="<%=match.status%>">
                                      <input name="sort" type="hidden" value="<%=match.sort%>">
                                      <button name="page" value="<%= i %>" class="page-link">
                                        <%= i %>
                                      </button>
                                    </form>
                                  </li>
                                  <% } %>
                                    <% if (i==Number(current) + 2 && i < pages) { %>
                                      <li class="page-item disabled">
                                        <a class="page-link" href="#">...</a>
                                      </li>
                                      <% } %>
                                        <% } %>

                                          <!-- LAST ITEM -->
                                          <% if(current==pages) { %>

                                            <li class="page-item disabled">
                                              <a class="page-link" href="#">Last</a>
                                            </li>
                                            <% } else { %>

                                              <li class="page-item">
                                                <form action="cart-list" method="GET">
                                                  <input name="status" type="hidden" value="<%=match.status%>">
                                                  <input name="sort" type="hidden" value="<%=match.sort%>">
                                                  <button name="page" value="<%=pages %>"
                                                    class="page-link">Last</button>
                                                </form>
                                              </li>
                                              <% } %>
              </ul>
              </nav>
              <% } %>
            </div>
        </div>

        <!-- /.card -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="adminlte/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="adminlte/dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="adminlte/dist/js/demo.js"></script>
  <script src="/js/cartInfo.js"></script>
</body>

</html>