<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Projects</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="adminlte/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="adminlte/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="/css/category.css">
</head>

<body class="hold-transition sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">

          <h3 class="header-title">Hệ Thống</h3>

          <div class="d-flex">
            <form action="/province-list" method="GET">
            <select name="provinceId" onchange="this.form.submit()"   class=" inputWidth m-2">
              <%if(match.provinceId){%>
                <%for(const province of provinces){%>
                  <%if(match.provinceId==province._id ){%>
                    <option value="<%=province._id%>" selected><%=province.name%></option>
                    <%}else{%>
                      <option value="<%=province._id%>"><%=province.name%></option>
                      <%}}%>
                        <%}else{%>
                          <option value="">-Tỉnh thành-</option>
                          <%for(const province of provinces){%>
                            <option value="<%=province._id%>"><%=province.name%></option>
                            <%}%>
                              <%}%>
            </select>
            </form>
            <%if( match.provinceId){%>
              <form action="/province-list" method="GET">
                <button class="btn btn-danger m-2">Bỏ lọc</button>
              </form>
              <%}%>
                <button class="btn btn-primary mx-2" type="button" data-toggle="modal" data-target="#create-store">
                  Thêm mới
                </button>

                

                <div class="modal fade" id="create-store">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Thêm mới cửa hàng</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Địa chỉ: <br>
                        <input class="create-store-input inputWidth" type="text"> <br>
                        Tỉnh thành: <br>
                        <select  required class="province-select inputWidth">
                          <option value="" disabled selected></option>
                          <%for(const province of provinces){%>
                            <option value="<%=province._id%>"><%=province.name%></option>
                            <%}%>
                        </select> <br>
                        Trạng thái: <br>
                        <select required class="status-select inputWidth " name="status">
                          <option value="" disabled selected></option>
                          <option value="0">Hoạt động</option>
                          <option value="1">Tạm ngừng</option>
                        </select>
                      </div>
                      <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        <button type="button" class="create-store-btn btn btn-primary">Thêm mới</button>
                      </div>
                    </div>
                    <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->

          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">

        <!-- Default box -->
        <div class="card" style="height: 60vh;">

          <div class="card-body p-0">
            <table class="table table-striped projects">
              <thead>
                <tr>

                  <th>
                    Địa chỉ
                  </th>
                  <th>
                    Tỉnh thành
                  </th>
                  <th>
                    Tạo/cập nhật
                  </th>
                  <th class="text-center">
                    Trạng thái
                  </th>
                  <th style="width: 20%">
                    Hành động
                  </th>
                </tr>
              </thead>
              <tbody class="content-tbody">
                <%for(const store of stores){%>
                  <tr>
                    <td>
                      <%=store.address%>
                    </td>
                    <td class=" ">
                      <%for(const province of provinces){%>
                        <%if(store.provinceId == province._id){%>
                        <%=province.name%>
                        <%}}%>
                    </td>
                    <td>
                      <a><%=dayjs(store.createdAt).format('DD-MM-YYYY HH:mm')%></a>
                      <br />
                      <small style="color: gray;"><%=dayjs(store.updatedAt).format('DD-MM-YYYY HH:mm') %></small>
                    </td>
                    <td class="project-state">
                      <%if(store.status==0) {%>
                        <span class="badge badge-success">Hoạt động</span>
                        <%} else{%>
                          <span class="badge badge-danger">Tạm ngừng</span>
                          <%}%>
                    </td>
                    <td class="project-actions ">
                      <button class="update-btn btn btn-info btn-sm" type="button" data-toggle="modal"
                        data-target="#a-<%=store._id%>">
                        <i class="fas fa-pencil-alt">
                        </i>
                      </button>
                      <div class="modal fade" id="a-<%=store._id%>">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title">Cập nhật cửa hàng</h4>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              Địa chỉ: <br>
                              <input class="update-store-input inputWidth" type="text" value="<%=store.address%>"> <br>
                             
                                Tỉnh thành: <br>
                                <select required class="province-select inputWidth" name="province">
                                  <%for(const province of provinces){%>
                                    <%if(store.provinceId == province._id){%>
                                      <option value="<%=province._id%>" selected><%=province.name%></option>
                                    <%}else{%>
                                    <option value="<%=province._id%>"><%=province.name%></option>
                                    <%}}%>
                                      
                                    
                                </select> <br>
                       
                                  Trạng thái: <br>
                                  <select required class="status-select inputWidth " name="status">
                                    <%if(store.status==0){%>
                                      <option value="0" selected>Hoạt động</option>
                                      <option value="1">Tạm ngừng</option>
                                      <%}else{%>
                                        <option value="0">Hoạt động</option>
                                        <option value="1" selected>Tạm ngừng</option>
                                        <%}%>
                                     
                                  </select>
                            </div>
                            <div class="modal-footer justify-content-between">
                              <input type="hidden" value="<%=store._id%>">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                              <button type="button" class="update-store-btn btn btn-primary">Cập nhật</button>
                            </div>
                          </div>
                          <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                      </div>
                      <!-- /.modal -->

                      <input type="hidden" value="<%=store._id%>">
                      <a class="delete-btn btn btn-danger btn-sm" href="#">
                        <i class="fas fa-trash">
                        </i>
                      </a>
                    </td>
                  </tr>
                  <%}%>
              </tbody>

            </table>

            </div>
          </div>
          <!-- /.card-body -->
    <!-- pagination -->
    <div class="row">
            
      <!-- hiển thị phân trang nếu có trang -->
      <% if(pages> 0) { %>
        <div class="w-100 d-flex justify-content-between mx-5">
         <p class="mt-2"> </p>
          <ul class="pagination">

            <!-- FIRST ITEM -->
            <% if(current==1) { %>

              <li class="page-item disabled">
                <a class="page-link" href="/">First</a>
              </li>
              <% } else { %>

                <li class="page-item">
                  <form action="province-list" method="GET">
                      <input name="provinceId" type="hidden" value="<%=match.provinceId%>">
                      <button button name="page" value="<%= i %>"class="page-link" >First</button>
                </form>
                </li>
                <% } %>

                  <!-- ITEMS  -->
                  <% var i=(Number(current)> 3 ? Number(current) - 2 : 1) %>

                    <% if(i !==1) { %>
                      <li class="page-item disabled">
                        <a class="page-link" href="#">...</a>
                      </li>
                      <% } %>
                        <% for(; i <=(Number(current) + 2) && i <=pages; i++) { %>
                          <% if(i==current) { %>
                            <li class="page-item active">
                              <form action="/province-list" method="GET">
                              <input name="provinceId" type="hidden" value="<%=match.provinceId%>">
                              <button name="page" value="<%= i %>" class="page-link" ><%= i %></button>
                            </form>
                            </li>
                            <% } else { %>
                              <li class="page-item">
                                <form action="/province-list"method="GET" >
                                  <input name="provinceId" type="hidden" value="<%=match.provinceId%>">
                                <button name="page" value="<%= i %>" class="page-link" ><%= i %></button>
                              </form>
                              </li>
                              <% } %>
                                <% if (i==Number(current) + 2 && i < pages) { %>
                                  <li class="page-item disabled">
                                    <a class="page-link" href="#">...</a>
                                  </li>
                                  <% } %>
                                    <% } %>

                                      <!-- LAST ITEM -->
                                      <% if(current==pages) { %>

                                        <li class="page-item disabled">
                                          <a class="page-link" href="#">Last</a>
                                        </li>
                                        <% } else { %>

                                          <li class="page-item">
                                            <form action="province-list" method="GET">
                                              <input name="provinceId" type="hidden" value="<%=match.provinceId%>">
                                            <button  name="page" value="<%=pages %>" class="page-link" >Last</button>
                                          </form>
                                          </li>
                                          <% } %>
          </ul>
        </nav>
        <% } %>
    </div>
   </div>
        <!-- /.card -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="adminlte/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="adminlte/dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="adminlte/dist/js/demo.js"></script>
  <script src="/js/province.js"></script>
</body>

</html>