<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="/css/user.css">

   
</head>

<body>

    <div id="container">
        <div id="header">
            <%- include('header') %>
        </div>

        <div id="body ">
            <div class="d-flex justify-content-center align-items-center flex-column m-4">
                <h2>Tìm kiếm</h2>
                <div style="width: 25%;height: 1px;background-color: black;"></div>
            </div>

            <span class="my-5 ms-5"> Tìm kiém kết quả cho:</span><span style="color: red;">"<%=nameSearch%>"</span>
              <div style="overflow: hidden; padding: 10px;" >

                <div class="row row-cols-1 row-cols-sm-2  row-cols-md-2 row-cols-lg-4 g-5 px-2">
                    <%for(const product of products){%>
                      <div class="product-card col">
                        <div class="card h-100">
                          <div class="picture-parent">
                            <a href="/productDetail/<%=product._id%>">
                              <img src="<%=product.productDetailIds[0].pictures[0]%>" class="products-picture card-img-top">
                              <%if(product.productDetailIds[1]){%>
                                <img src="<%=product.productDetailIds[1].pictures[0]%>"
                                  class="products-picture-hover card-img-top">
                                <%}else{%>
                                  <img src="<%=product.productDetailIds[0].pictures[1]%>"
                                    class="products-picture-hover card-img-top">
                                  <%}%>
                            </a>
                          </div>
                          <div class="d-flex flex-column justify-content-center align-items-center">
                            <h5 class="products-name card-title">
                              <%=product.name%>
                            </h5>
                            <p class="products-id d-none card-text"></p>
                            <p class="products-price card-text">
                              <%=numeral(product.price).format('0,0')%>đ
                            </p>
    
                          </div>
                          <div class=" product-footer">
                            <form action="/productDetail/<%=product._id%>" method="GET">
                              <button class="detail-btn btn btn-dark" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eyeglasses" viewBox="0 0 16 16">
                                <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                              </svg>  Chi tiết</button>
                            </form>
                          </div>
                        </div>
                      </div>
                      <%}%>
                  </div>
              </div>
              <!-- pagination -->
              <div class="row pagination">

                <!-- hiển thị phân trang nếu có trang -->
                <% if(pages> 0) { %>
                  <div class="w-100 d-flex justify-content-center ">

                    <ul class="pagination m-5">

                      <!-- FIRST ITEM -->
                      <% if(current==1) { %>

                        <li class="page-item disabled">
                          <a class="page-link" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                          </svg></a>
                        </li>
                        <% } else { %>

                          <li class="page-item">
                            <form action="/search" method="GET">
                              <input name="nameSearch" type="hidden" value="<%=nameSearch%>">
                              <button name="page" value="<%= i %>" class="page-link"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                                <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                              </svg></button>
                            </form>
                          </li>
                          <% } %>

                            <!-- ITEMS  -->
                            <% var i=(Number(current)> 3 ? Number(current) - 2 : 1) %>

                              <% if(i !==1) { %>
                                <li class="page-item disabled">
                                  <a class="page-link" href="#">...</a>
                                </li>
                                <% } %>
                                  <% for(; i <=(Number(current) + 2) && i <=pages; i++) { %>
                                    <% if(i==current) { %>
                                      <li class="page-item active">
                                        <form action="/search" method="GET">
                                         <input name="nameSearch" type="hidden" value="<%=nameSearch%>">
                                          <button name="page" value="<%= i %>" class="page-link">
                                            <%= i %>
                                          </button>
                                        </form>
                                      </li>
                                      <% } else { %>
                                        <li class="page-item">
                                          <form action="/search" method="GET">
                                            <input name="nameSearch" type="hidden" value="<%=nameSearch%>">
                                            <button name="page" value="<%= i %>" class="page-link">
                                              <%= i %>
                                            </button>
                                          </form>
                                        </li>
                                        <% } %>
                                          <% if (i==Number(current) + 2 && i < pages) { %>
                                            <li class="page-item disabled">
                                              <a class="page-link" href="#">...</a>
                                            </li>
                                            <% } %>
                                              <% } %>

                                                <!-- LAST ITEM -->
                                                <% if(current==pages) { %>

                                                  <li class="page-item disabled">
                                                    <a class="page-link " href="#"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                                                      <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                                                      <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                                                    </svg></a>
                                                  </li>
                                                  <% } else { %>

                                                    <li class="page-item">
                                                      <form action="/search" method="GET">
                                                        <input name="nameSearch" type="hidden" value="<%=nameSearch%>">
                                                        <button name="page" value="<%=pages %>"
                                                          class="page-link"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                                                            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
                                                            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
                                                          </svg></button>
                                                      </form>
                                                    </li>
                                                    <% } %>
                    </ul>
                    </nav>
                    <% } %>
                  </div>
              </div>
        </div>
        <div id="footer">
            <%- include('footer') %>
        </div>
     </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/js/user.js "></script>


</html>